PORT=3001
DB_ENV=dev
DATABASE_URL_DEV="postgresql://user:password@host:port/database?sslmode=verify-full&pgbouncer=true"
DATABASE_URL_PROD="postgresql://user:password@host:port/database?sslmode=verify-full&pgbouncer=true"
